<div class="results container-fluid">
  <div class="row">
    <div class="col-7 my-5 pb-5">
      <div>
        <p><strong><%= pluralize(@listings.length , "place") %> within 10km of searched area</strong></p>
      </div>

      <div class="results-grid">
        <%= render 'listing_item', listing: @listings %>
      </div>
    </div>

    <div class="col-5">
      <div class="results-map sticky-top">
        <%= render '/shared/map', marker: @markers %>
      </div>
    </div>

  </div>

</div>
