.internal-nav a {
  text-decoration: none;
}

.cta-button {
  background-color: #FE5A5F;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
}

.price-table li {
  display: flex;
  justify-content: space-between;
}
