// Specific CSS for your home-page
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 0rem 5rem;

  .listing-image {
    width: 100%;
    height: 315px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .listing-location {
    font-weight: 600;
    margin-bottom: 0rem;
  }
}

.formshort {
  position: sticky;
  top: 17.5vh;
}

@media (max-width: 1080px) {
  /* For a screen < 720px, this CSS will be read */
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 850px) {
  /* For a screen < 720px, this CSS will be read */
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

.section-map {
  height: 400px;
  margin: 30px auto;
}

.childicon{
  top: 20px;
  right: 30px;
  z-index: 1001;
  font-size: 25px;
}

.childicon:hover{
  transform: scale(1.2);
  transition: 0.3s ease;
}
