<div class="card">
  <div>
    <div class="fs-5 m-3">
      <div>No trips booked ... yet!</div>
      <div class="fs-6 my-3 text-body-tertiary">Time to dust off your bags and start planning your next adventure</div>
      <div>
        <%= link_to "Start searching", listings_path, class: "text-decoration-none cta-button" %>
      </div>
    </div>
  </div>
</div>
