<div>
<% @bookings.each do |booking| %>
  <div>
    <p><%= booking.listing.location %></p>
    <p><%= booking.listing.user.first_name %></p>
    <p><%= "#{booking.start_date} - #{booking.end_date}"%></p>
    <%= link_to "See Details", booking_path(booking) %>
  </div>
<% end %>
</div>
