  <div style="width: 80%; height: 600px; margin: 30px auto; border-radius: 30px;"
  data-controller="map"
  data-map-marker-value="<%= marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
