.footer {
  background-color: #F8F9FA;
  width: 100vw;
  color: #575757;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 0.75rem 5rem;
  bottom: 0px;
  z-index: 15;

  .footer-left {
    display: flex;
  }

  .footer-right {
    display: flex;
  }
}

.footer-text {
  margin: 0 1rem;
}

@media (max-width: 650px) {
  /* For a screen < 540px, this CSS will be read */
    .footer {
      display: none;
    }
  }
