.img-card {
  height: 300px;
  background-position: center;
  background-size: cover;
  transition: 0.3s;

&:hover {
  filter: brightness(80%);
  }
}

.img-small {
  height: 140px;
  background-position: center;
  background-size: cover;
  transition: 0.3s;

  &:nth-child(2) {
    border-top-right-radius: 16px;
  }

  &:nth-child(4) {
    border-bottom-right-radius: 16px;
  }

&:hover {
    filter: brightness(80%);
    }
}

.small-card {
  height: 150px;
  width: 220px;
  background-position: center;
  background-size: cover;
}

.small-card-round {
  border-radius: 10px 10px 0 0;
}

.smaller-card {
  height: 75px;
  width: 75px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.mini-card {
  height: 35px;
  width: 35px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
